<a href="https://colab.research.google.com/github/Piyu569/SparkProject02/blob/main/Functions_Extra_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 22.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=36822a889146ea793607acc687bfe96954bc2bf1dc0bbd476e4bb6231e617eb8
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

# Try To keep this functions Pack in your Mind

# Pivot() vs Unpivot() in pyspark

In [3]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
spark = SparkSession.builder.appName("Functions_testing_practice").getOrCreate()

In [4]:
# Import PySpark SQL functions
from pyspark.sql.functions import col

# Create a list of tuples with the data
data = [("Banana",1000,"USA"), 
        ("Carrots",1500,"USA"), 
        ("Beans",1600,"USA"),
        ("Orange",2000,"USA"),
        ("Orange",2000,"USA"),
        ("Banana",400,"China"),
        ("Carrots",1200,"China"),
        ("Beans",1500,"China"),
        ("Orange",4000,"China"),
        ("Banana",2000,"Canada"),
        ("Carrots",2000,"Canada"),
        ("Beans",2000,"Mexico")]

# Create a PySpark DataFrame from the list of tuples
df = spark.createDataFrame(data, ["product", "price", "country"])

# Show the DataFrame
df.show()
df.printSchema()

+-------+-----+-------+
|product|price|country|
+-------+-----+-------+
| Banana| 1000|    USA|
|Carrots| 1500|    USA|
|  Beans| 1600|    USA|
| Orange| 2000|    USA|
| Orange| 2000|    USA|
| Banana|  400|  China|
|Carrots| 1200|  China|
|  Beans| 1500|  China|
| Orange| 4000|  China|
| Banana| 2000| Canada|
|Carrots| 2000| Canada|
|  Beans| 2000| Mexico|
+-------+-----+-------+

root
 |-- product: string (nullable = true)
 |-- price: long (nullable = true)
 |-- country: string (nullable = true)

In [5]:
pivot_df = df.groupBy("product").pivot("country").sum("price")
pivot_df.show()

+-------+------+-----+------+----+
|product|Canada|China|Mexico| USA|
+-------+------+-----+------+----+
| Orange|  null| 4000|  null|4000|
|  Beans|  null| 1500|  2000|1600|
| Banana|  2000|  400|  null|1000|
|Carrots|  2000| 1200|  null|1500|
+-------+------+-----+------+----+

# .Stack() -> Unpivot() in pyspark

In [6]:
from pyspark.sql.functions import expr

# Unpivot the DataFrame
unPivotDF = pivot_df.selectExpr("Product",
    "stack(3, 'Canada', Canada, 'China', China, 'Mexico', Mexico) as (Country, Total)") \
    .where("Total is not null")

# Show the unpivoted DataFrame
unPivotDF.show()

+-------+-------+-----+
|Product|Country|Total|
+-------+-------+-----+
| Orange|  China| 4000|
|  Beans|  China| 1500|
|  Beans| Mexico| 2000|
| Banana| Canada| 2000|
| Banana|  China|  400|
|Carrots| Canada| 2000|
|Carrots|  China| 1200|
+-------+-------+-----+

# Window Functions

![spark-sql-window-functions.webp]()

In [7]:
df2 = spark.read.csv("/content/train.csv",inferSchema = True , header = True)

In [8]:
df2.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|        1|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|        0|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|        1|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|        0|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|        0|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|        0|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 59|        0|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 30|        0|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|        0|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|        0|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|        0|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|        0|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|        0|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|        0|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|        1|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|        0|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|        0|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|        0|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 53|        0|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 38|        0|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [9]:
df2.count()

1058

In [10]:
length  = len(df2.columns)
print(length)

35

In [11]:
from pyspark.sql import Window
import pyspark.sql.functions as F
import pyspark.sql.types as T

In [12]:
windowsSpec = Window.partitionBy("Department").orderBy("MonthlyIncome")

data =( df2.withColumn("list_salary" , F.collect_list(F.col("MonthlyIncome")).over(windowsSpec))
           .withColumn("avg_salary" , F.avg(F.col("MonthlyRate")).over(windowsSpec))
           .withColumn("total_salary" , F.sum(F.col("MonthlyIncome")).over(windowsSpec))
)
data.show()

+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------------------+------------+
|Age|Attrition|   BusinessTravel|DailyRate|     Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|        JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|         list_salary|        avg_salary|total_salary|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------------------+------------+
| 37|        1|    Travel_Rarely|      807|Human Resources|               6|        4| Human Resources|            1|           133|                      3|  Male|        63|             3|       1|Human Resources|              1|     Divorced|         2073|      23648|                 4|     Y|     Yes|               22|                4|                       4|           80|               0|                7|                    3|              3|             3|                 2|                      0|                   2|              [2073]|           23648.0|        2073|
| 31|        0|    Travel_Rarely|     1398|Human Resources|               8|        2|         Medical|            1|          1461|                      4|Female|        96|             4|       1|Human Resources|              2|       Single|         2109|      24609|                 9|     Y|      No|               18|                3|                       4|           80|               0|                8|                    3|              3|             3|                 2|                      0|                   2|        [2073, 2109]|           24128.5|        4182|
| 36|        0|    Travel_Rarely|     1041|Human Resources|              13|        3| Human Resources|            1|           829|                      3|  Male|        36|             3|       1|Human Resources|              2|      Married|         2143|      25527|                 4|     Y|      No|               13|                3|                       2|           80|               1|                8|                    2|              3|             5|                 2|                      0|                   4|  [2073, 2109, 2143]|24594.666666666668|        6325|
| 45|        0|    Travel_Rarely|      788|Human Resources|              24|        4|         Medical|            1|          1049|                      2|  Male|        36|             3|       1|Human Resources|              2|       Single|         2177|       8318|                 1|     Y|      No|               16|                3|                       1|           80|               0|                6|                    3|              3|             6|                 3|                      0|                   4|[2073, 2109, 2143...|           20525.5|        8502|
| 59|        0|    Travel_Rarely|      818|Human Resources|               6|        2|         Medical|            1|           321|                      2|  Male|        52|             3|       1|Human Resources|              3|      Married|         2267|      25657|                 8|     Y|      No|               17|                3|                       4|           80|               0|                7|                    2|              2|             2|                 2|                      2|                   2|[2073, 2109, 2143...|           21551.8|       10769|
| 33|        0|    Travel_Rarely|     1075|Human Resources|               3|        2| Human Resources|            1|           910|                      4|  Male|        57|             3|       1|Human Resources|              2|     Divorced|         2277|      22650|                 3|     Y|     Yes|               11|                3|                       3|           80|               1|                7|                    4|              4|             4|                 3|                      0|                   3|[2073, 2109, 2143...|21734.833333333332|       13046|
| 36|        0|    Travel_Rarely|     1278|Human Resources|               8|        3|   Life Sciences|            1|           878|                      1|  Male|        77|             2|       1|Human Resources|              1|      Married|         2342|       8635|                 0|     Y|      No|               21|                4|                       3|           80|               0|                6|                    3|              3|             5|                 4|                      0|                   3|[2073, 2109, 2143...|19863.428571428572|       15388|
| 19|        1|    Travel_Rarely|      489|Human Resources|               2|        2|Technical Degree|            1|           566|                      1|  Male|        52|             2|       1|Human Resources|              4|       Single|         2564|      18437|                 1|     Y|      No|               12|                3|                       3|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|[2073, 2109, 2143...|         19685.125|       17952|
| 42|        0|    Travel_Rarely|      544|Human Resources|               2|        1|Technical Degree|            1|           470|                      3|  Male|        52|             3|       1|Human Resources|              3|     Divorced|         2696|      24017|                 0|     Y|     Yes|               11|                3|                       3|           80|               1|                4|                    5|              3|             3|                 2|                      1|                   0|[2073, 2109, 2143...|20166.444444444445|       20648|
| 26|        1|Travel_Frequently|      426|Human Resources|              17|        4|   Life Sciences|            1|           608|                      2|Female|        58|             3|       1|Human Resources|              3|     Divorced|         2741|      22808|                 0|     Y|     Yes|               11|                3|                       2|           80|               1|                8|                    2|              2|             7|                 7|                      1|                   0|[2073, 2109, 2143...|           20430.6|       23389|
| 34|        1|    Travel_Rarely|     1107|Human Resources|               9|        4|Technical Degree|            1|          1467|                      1|Female|        52|             3|       1|Human Resources|              3|      Married|         2742|       3072|                 1|     Y|      No|               15|                3|                       4|           80|               0|                2|                    0|              3|             2|                 2|                      2|                   2|[2073, 2109, 2143...|18852.545454545456|       26131|
| 38|        0|    Travel_Rarely|      433|Human Resources|               1|        3| Human Resources|            1|          1152|                      3|  Male|        37|             4|       1|Human Resources|              3|      Married|         2844|       6004|                 1|     Y|      No|               13|                3|                       4|           80|               1|                7|                    2|              4|             7|                 6|                      5|                   0|[2073, 2109, 2143...|17781.833333333332|       28975|
| 26|        0|    Travel_Rarely|     1355|Human Resources|              25|        1|   Life Sciences|            1|           177|                      3|Female|        61|             3|       1|Human Resources|              3|      Married|         2942|       8916|                 1|     Y|      No|               23|                4|                       4|           80|               1|                8|                    3|              3|             8|                 7|                      5|                   7|[2073, 2109, 2143...|17099.846153846152|       31917|
| 46|        0|    Travel_Rarely|      991|Human Resources|               1|        2|   Life Sciences|            1|          1314|                      4|Female|        44|             3|       1|Human Resources|              1|       Single|         3423|      22957|                 6|     Y|      No|               12|                3|                       3|           80|               0|               10|                    3|              4|             7|                 6|                      5|                   7|[2073, 2109, 2143...|17518.214285714286|       35340|
| 33|        0|    Travel_Rarely|      147|Human Resources|               2|        3| Human Resources|            1|          1207|                      2|  Male|        99|             3|       1|Human Resources|              3|      Married|         3600|       8429|                 1|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              3|             5|                 4|                      1|                   4|[2073, 2109, 2143...|16912.266666666666|       38940|
| 34|        0|    Travel_Rarely|      829|Human Resources|               3|        2| Human Resources|            1|           847|                      3|  Male|        88|             3|       1|Human Resources|              4|      Married|         3737|       2243|                 0|     Y|      No|               19|                3|                       3|           80|               1|                4|                    1|              1|             3|                 2|                      0|                   2|[2073, 2109, 2143...|        15995.4375|       42677|
| 35|        0|    Travel_Rarely|      528|Human Resources|               8|        4|Technical Degree|            1|          1164|                      3|  Male|       100|             3|       1|Human Resources|              3|       Single|         4323|       7108|                 1|     Y|      No|               17|                3|                       2|           80|               0|                6|                    2|              1|             5|                 4|                      1|                   4|[2073, 2109, 2143...| 15472.64705882353|       47000|
| 34|        0|Travel_Frequently|      648|Human Resources|              11|        3|   Life Sciences|            1|          1289|                      3|  Male|        56|             2|       2|Human Resources|              2|      Married|         4490|      21833|                 4|     Y|      No|               11|                3|                       4|           80|               2|               14|                    5|              4|            10|                 9|                      1|                   8|[2073, 2109, 2143...|           15826.0|       51490|
| 28|        0|    Travel_Rarely|     1169|Human Resources|               8|        2|         Medical|            1|           869|                      2|  Male|        63|             2|       1|Human Resources|              4|     Divorced|         4936|      23965|                 1|     Y|      No|               13|                3|                       4|           80|               1|                6|                    6|              3|             5|                 1|                      0|                   4|[2073, 2109, 2143...|16254.368421052632|       56426|
| 46|        0|    Travel_Rarely|      945|Human Resources|               5|        2|         Medical|            1|           103|                      2|  Male|        80|             3|       2|Human Resources|              2|     Divorced|         5021|      10425|                 8|     Y|     Yes|               22|                4|                       4|           80|               1|               16|                    2|              3|             4|                 2|                      0|                   2|[2073, 2109, 2143...|           15962.9|       61447|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------------------+------------+
only showing top 20 rows

In [13]:
df2.select("Department").distinct().show()

+--------------------+
|          Department|
+--------------------+
|               Sales|
|Research & Develo...|
|     Human Resources|
+--------------------+

**row_number():** This function assigns a unique sequential number to each row within a partition, based on the ordering specified in the window.row_number() requires orderBy() in windowsSpec

In [14]:
row_num = df2.withColumn("Row_Num", F.row_number().over(windowsSpec))
row_num.show()

+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------+
|Age|Attrition|   BusinessTravel|DailyRate|     Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|        JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|Row_Num|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------+
| 37|        1|    Travel_Rarely|      807|Human Resources|               6|        4| Human Resources|            1|           133|                      3|  Male|        63|             3|       1|Human Resources|              1|     Divorced|         2073|      23648|                 4|     Y|     Yes|               22|                4|                       4|           80|               0|                7|                    3|              3|             3|                 2|                      0|                   2|      1|
| 31|        0|    Travel_Rarely|     1398|Human Resources|               8|        2|         Medical|            1|          1461|                      4|Female|        96|             4|       1|Human Resources|              2|       Single|         2109|      24609|                 9|     Y|      No|               18|                3|                       4|           80|               0|                8|                    3|              3|             3|                 2|                      0|                   2|      2|
| 36|        0|    Travel_Rarely|     1041|Human Resources|              13|        3| Human Resources|            1|           829|                      3|  Male|        36|             3|       1|Human Resources|              2|      Married|         2143|      25527|                 4|     Y|      No|               13|                3|                       2|           80|               1|                8|                    2|              3|             5|                 2|                      0|                   4|      3|
| 45|        0|    Travel_Rarely|      788|Human Resources|              24|        4|         Medical|            1|          1049|                      2|  Male|        36|             3|       1|Human Resources|              2|       Single|         2177|       8318|                 1|     Y|      No|               16|                3|                       1|           80|               0|                6|                    3|              3|             6|                 3|                      0|                   4|      4|
| 59|        0|    Travel_Rarely|      818|Human Resources|               6|        2|         Medical|            1|           321|                      2|  Male|        52|             3|       1|Human Resources|              3|      Married|         2267|      25657|                 8|     Y|      No|               17|                3|                       4|           80|               0|                7|                    2|              2|             2|                 2|                      2|                   2|      5|
| 33|        0|    Travel_Rarely|     1075|Human Resources|               3|        2| Human Resources|            1|           910|                      4|  Male|        57|             3|       1|Human Resources|              2|     Divorced|         2277|      22650|                 3|     Y|     Yes|               11|                3|                       3|           80|               1|                7|                    4|              4|             4|                 3|                      0|                   3|      6|
| 36|        0|    Travel_Rarely|     1278|Human Resources|               8|        3|   Life Sciences|            1|           878|                      1|  Male|        77|             2|       1|Human Resources|              1|      Married|         2342|       8635|                 0|     Y|      No|               21|                4|                       3|           80|               0|                6|                    3|              3|             5|                 4|                      0|                   3|      7|
| 19|        1|    Travel_Rarely|      489|Human Resources|               2|        2|Technical Degree|            1|           566|                      1|  Male|        52|             2|       1|Human Resources|              4|       Single|         2564|      18437|                 1|     Y|      No|               12|                3|                       3|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|      8|
| 42|        0|    Travel_Rarely|      544|Human Resources|               2|        1|Technical Degree|            1|           470|                      3|  Male|        52|             3|       1|Human Resources|              3|     Divorced|         2696|      24017|                 0|     Y|     Yes|               11|                3|                       3|           80|               1|                4|                    5|              3|             3|                 2|                      1|                   0|      9|
| 26|        1|Travel_Frequently|      426|Human Resources|              17|        4|   Life Sciences|            1|           608|                      2|Female|        58|             3|       1|Human Resources|              3|     Divorced|         2741|      22808|                 0|     Y|     Yes|               11|                3|                       2|           80|               1|                8|                    2|              2|             7|                 7|                      1|                   0|     10|
| 34|        1|    Travel_Rarely|     1107|Human Resources|               9|        4|Technical Degree|            1|          1467|                      1|Female|        52|             3|       1|Human Resources|              3|      Married|         2742|       3072|                 1|     Y|      No|               15|                3|                       4|           80|               0|                2|                    0|              3|             2|                 2|                      2|                   2|     11|
| 38|        0|    Travel_Rarely|      433|Human Resources|               1|        3| Human Resources|            1|          1152|                      3|  Male|        37|             4|       1|Human Resources|              3|      Married|         2844|       6004|                 1|     Y|      No|               13|                3|                       4|           80|               1|                7|                    2|              4|             7|                 6|                      5|                   0|     12|
| 26|        0|    Travel_Rarely|     1355|Human Resources|              25|        1|   Life Sciences|            1|           177|                      3|Female|        61|             3|       1|Human Resources|              3|      Married|         2942|       8916|                 1|     Y|      No|               23|                4|                       4|           80|               1|                8|                    3|              3|             8|                 7|                      5|                   7|     13|
| 46|        0|    Travel_Rarely|      991|Human Resources|               1|        2|   Life Sciences|            1|          1314|                      4|Female|        44|             3|       1|Human Resources|              1|       Single|         3423|      22957|                 6|     Y|      No|               12|                3|                       3|           80|               0|               10|                    3|              4|             7|                 6|                      5|                   7|     14|
| 33|        0|    Travel_Rarely|      147|Human Resources|               2|        3| Human Resources|            1|          1207|                      2|  Male|        99|             3|       1|Human Resources|              3|      Married|         3600|       8429|                 1|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              3|             5|                 4|                      1|                   4|     15|
| 34|        0|    Travel_Rarely|      829|Human Resources|               3|        2| Human Resources|            1|           847|                      3|  Male|        88|             3|       1|Human Resources|              4|      Married|         3737|       2243|                 0|     Y|      No|               19|                3|                       3|           80|               1|                4|                    1|              1|             3|                 2|                      0|                   2|     16|
| 35|        0|    Travel_Rarely|      528|Human Resources|               8|        4|Technical Degree|            1|          1164|                      3|  Male|       100|             3|       1|Human Resources|              3|       Single|         4323|       7108|                 1|     Y|      No|               17|                3|                       2|           80|               0|                6|                    2|              1|             5|                 4|                      1|                   4|     17|
| 34|        0|Travel_Frequently|      648|Human Resources|              11|        3|   Life Sciences|            1|          1289|                      3|  Male|        56|             2|       2|Human Resources|              2|      Married|         4490|      21833|                 4|     Y|      No|               11|                3|                       4|           80|               2|               14|                    5|              4|            10|                 9|                      1|                   8|     18|
| 28|        0|    Travel_Rarely|     1169|Human Resources|               8|        2|         Medical|            1|           869|                      2|  Male|        63|             2|       1|Human Resources|              4|     Divorced|         4936|      23965|                 1|     Y|      No|               13|                3|                       4|           80|               1|                6|                    6|              3|             5|                 1|                      0|                   4|     19|
| 46|        0|    Travel_Rarely|      945|Human Resources|               5|        2|         Medical|            1|           103|                      2|  Male|        80|             3|       2|Human Resources|              2|     Divorced|         5021|      10425|                 8|     Y|     Yes|               22|                4|                       4|           80|               1|               16|                    2|              3|             4|                 2|                      0|                   2|     20|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------+
only showing top 20 rows

rank() , dense_rank() , persent_rank()

**rank()**: This function assigns a rank to each row within a partition based on the ordering specified in the window, where rows with the same value are assigned the same rank and the next rank is skipped.

agar orderBy mai 2 number ya entries same rahe 

Ex:

    sal     Rank
    1122     1
    1122     1
    456      3

In [15]:
rank_df = df2.withColumn("Rank_Func", F.rank().over(windowsSpec))
rank_df.show()

+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+---------+
|Age|Attrition|   BusinessTravel|DailyRate|     Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|        JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|Rank_Func|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+---------+
| 37|        1|    Travel_Rarely|      807|Human Resources|               6|        4| Human Resources|            1|           133|                      3|  Male|        63|             3|       1|Human Resources|              1|     Divorced|         2073|      23648|                 4|     Y|     Yes|               22|                4|                       4|           80|               0|                7|                    3|              3|             3|                 2|                      0|                   2|        1|
| 31|        0|    Travel_Rarely|     1398|Human Resources|               8|        2|         Medical|            1|          1461|                      4|Female|        96|             4|       1|Human Resources|              2|       Single|         2109|      24609|                 9|     Y|      No|               18|                3|                       4|           80|               0|                8|                    3|              3|             3|                 2|                      0|                   2|        2|
| 36|        0|    Travel_Rarely|     1041|Human Resources|              13|        3| Human Resources|            1|           829|                      3|  Male|        36|             3|       1|Human Resources|              2|      Married|         2143|      25527|                 4|     Y|      No|               13|                3|                       2|           80|               1|                8|                    2|              3|             5|                 2|                      0|                   4|        3|
| 45|        0|    Travel_Rarely|      788|Human Resources|              24|        4|         Medical|            1|          1049|                      2|  Male|        36|             3|       1|Human Resources|              2|       Single|         2177|       8318|                 1|     Y|      No|               16|                3|                       1|           80|               0|                6|                    3|              3|             6|                 3|                      0|                   4|        4|
| 59|        0|    Travel_Rarely|      818|Human Resources|               6|        2|         Medical|            1|           321|                      2|  Male|        52|             3|       1|Human Resources|              3|      Married|         2267|      25657|                 8|     Y|      No|               17|                3|                       4|           80|               0|                7|                    2|              2|             2|                 2|                      2|                   2|        5|
| 33|        0|    Travel_Rarely|     1075|Human Resources|               3|        2| Human Resources|            1|           910|                      4|  Male|        57|             3|       1|Human Resources|              2|     Divorced|         2277|      22650|                 3|     Y|     Yes|               11|                3|                       3|           80|               1|                7|                    4|              4|             4|                 3|                      0|                   3|        6|
| 36|        0|    Travel_Rarely|     1278|Human Resources|               8|        3|   Life Sciences|            1|           878|                      1|  Male|        77|             2|       1|Human Resources|              1|      Married|         2342|       8635|                 0|     Y|      No|               21|                4|                       3|           80|               0|                6|                    3|              3|             5|                 4|                      0|                   3|        7|
| 19|        1|    Travel_Rarely|      489|Human Resources|               2|        2|Technical Degree|            1|           566|                      1|  Male|        52|             2|       1|Human Resources|              4|       Single|         2564|      18437|                 1|     Y|      No|               12|                3|                       3|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|        8|
| 42|        0|    Travel_Rarely|      544|Human Resources|               2|        1|Technical Degree|            1|           470|                      3|  Male|        52|             3|       1|Human Resources|              3|     Divorced|         2696|      24017|                 0|     Y|     Yes|               11|                3|                       3|           80|               1|                4|                    5|              3|             3|                 2|                      1|                   0|        9|
| 26|        1|Travel_Frequently|      426|Human Resources|              17|        4|   Life Sciences|            1|           608|                      2|Female|        58|             3|       1|Human Resources|              3|     Divorced|         2741|      22808|                 0|     Y|     Yes|               11|                3|                       2|           80|               1|                8|                    2|              2|             7|                 7|                      1|                   0|       10|
| 34|        1|    Travel_Rarely|     1107|Human Resources|               9|        4|Technical Degree|            1|          1467|                      1|Female|        52|             3|       1|Human Resources|              3|      Married|         2742|       3072|                 1|     Y|      No|               15|                3|                       4|           80|               0|                2|                    0|              3|             2|                 2|                      2|                   2|       11|
| 38|        0|    Travel_Rarely|      433|Human Resources|               1|        3| Human Resources|            1|          1152|                      3|  Male|        37|             4|       1|Human Resources|              3|      Married|         2844|       6004|                 1|     Y|      No|               13|                3|                       4|           80|               1|                7|                    2|              4|             7|                 6|                      5|                   0|       12|
| 26|        0|    Travel_Rarely|     1355|Human Resources|              25|        1|   Life Sciences|            1|           177|                      3|Female|        61|             3|       1|Human Resources|              3|      Married|         2942|       8916|                 1|     Y|      No|               23|                4|                       4|           80|               1|                8|                    3|              3|             8|                 7|                      5|                   7|       13|
| 46|        0|    Travel_Rarely|      991|Human Resources|               1|        2|   Life Sciences|            1|          1314|                      4|Female|        44|             3|       1|Human Resources|              1|       Single|         3423|      22957|                 6|     Y|      No|               12|                3|                       3|           80|               0|               10|                    3|              4|             7|                 6|                      5|                   7|       14|
| 33|        0|    Travel_Rarely|      147|Human Resources|               2|        3| Human Resources|            1|          1207|                      2|  Male|        99|             3|       1|Human Resources|              3|      Married|         3600|       8429|                 1|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              3|             5|                 4|                      1|                   4|       15|
| 34|        0|    Travel_Rarely|      829|Human Resources|               3|        2| Human Resources|            1|           847|                      3|  Male|        88|             3|       1|Human Resources|              4|      Married|         3737|       2243|                 0|     Y|      No|               19|                3|                       3|           80|               1|                4|                    1|              1|             3|                 2|                      0|                   2|       16|
| 35|        0|    Travel_Rarely|      528|Human Resources|               8|        4|Technical Degree|            1|          1164|                      3|  Male|       100|             3|       1|Human Resources|              3|       Single|         4323|       7108|                 1|     Y|      No|               17|                3|                       2|           80|               0|                6|                    2|              1|             5|                 4|                      1|                   4|       17|
| 34|        0|Travel_Frequently|      648|Human Resources|              11|        3|   Life Sciences|            1|          1289|                      3|  Male|        56|             2|       2|Human Resources|              2|      Married|         4490|      21833|                 4|     Y|      No|               11|                3|                       4|           80|               2|               14|                    5|              4|            10|                 9|                      1|                   8|       18|
| 28|        0|    Travel_Rarely|     1169|Human Resources|               8|        2|         Medical|            1|           869|                      2|  Male|        63|             2|       1|Human Resources|              4|     Divorced|         4936|      23965|                 1|     Y|      No|               13|                3|                       4|           80|               1|                6|                    6|              3|             5|                 1|                      0|                   4|       19|
| 46|        0|    Travel_Rarely|      945|Human Resources|               5|        2|         Medical|            1|           103|                      2|  Male|        80|             3|       2|Human Resources|              2|     Divorced|         5021|      10425|                 8|     Y|     Yes|               22|                4|                       4|           80|               1|               16|                    2|              3|             4|                 2|                      0|                   2|       20|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+---------+
only showing top 20 rows

**dense_rank()**: This function assigns a rank to each row within a partition based on the ordering specified in the window, where rows with the same value are assigned the same rank and the next rank is not skipped

Ex:

    sal     Rank
    1122     1
    1122     1
    456      2

In [16]:
den_rank_df = df2.withColumn("Dense_Rank" , F.dense_rank().over(windowsSpec))
den_rank_df.show()

+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+----------+
|Age|Attrition|   BusinessTravel|DailyRate|     Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|        JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|Dense_Rank|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+----------+
| 37|        1|    Travel_Rarely|      807|Human Resources|               6|        4| Human Resources|            1|           133|                      3|  Male|        63|             3|       1|Human Resources|              1|     Divorced|         2073|      23648|                 4|     Y|     Yes|               22|                4|                       4|           80|               0|                7|                    3|              3|             3|                 2|                      0|                   2|         1|
| 31|        0|    Travel_Rarely|     1398|Human Resources|               8|        2|         Medical|            1|          1461|                      4|Female|        96|             4|       1|Human Resources|              2|       Single|         2109|      24609|                 9|     Y|      No|               18|                3|                       4|           80|               0|                8|                    3|              3|             3|                 2|                      0|                   2|         2|
| 36|        0|    Travel_Rarely|     1041|Human Resources|              13|        3| Human Resources|            1|           829|                      3|  Male|        36|             3|       1|Human Resources|              2|      Married|         2143|      25527|                 4|     Y|      No|               13|                3|                       2|           80|               1|                8|                    2|              3|             5|                 2|                      0|                   4|         3|
| 45|        0|    Travel_Rarely|      788|Human Resources|              24|        4|         Medical|            1|          1049|                      2|  Male|        36|             3|       1|Human Resources|              2|       Single|         2177|       8318|                 1|     Y|      No|               16|                3|                       1|           80|               0|                6|                    3|              3|             6|                 3|                      0|                   4|         4|
| 59|        0|    Travel_Rarely|      818|Human Resources|               6|        2|         Medical|            1|           321|                      2|  Male|        52|             3|       1|Human Resources|              3|      Married|         2267|      25657|                 8|     Y|      No|               17|                3|                       4|           80|               0|                7|                    2|              2|             2|                 2|                      2|                   2|         5|
| 33|        0|    Travel_Rarely|     1075|Human Resources|               3|        2| Human Resources|            1|           910|                      4|  Male|        57|             3|       1|Human Resources|              2|     Divorced|         2277|      22650|                 3|     Y|     Yes|               11|                3|                       3|           80|               1|                7|                    4|              4|             4|                 3|                      0|                   3|         6|
| 36|        0|    Travel_Rarely|     1278|Human Resources|               8|        3|   Life Sciences|            1|           878|                      1|  Male|        77|             2|       1|Human Resources|              1|      Married|         2342|       8635|                 0|     Y|      No|               21|                4|                       3|           80|               0|                6|                    3|              3|             5|                 4|                      0|                   3|         7|
| 19|        1|    Travel_Rarely|      489|Human Resources|               2|        2|Technical Degree|            1|           566|                      1|  Male|        52|             2|       1|Human Resources|              4|       Single|         2564|      18437|                 1|     Y|      No|               12|                3|                       3|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|         8|
| 42|        0|    Travel_Rarely|      544|Human Resources|               2|        1|Technical Degree|            1|           470|                      3|  Male|        52|             3|       1|Human Resources|              3|     Divorced|         2696|      24017|                 0|     Y|     Yes|               11|                3|                       3|           80|               1|                4|                    5|              3|             3|                 2|                      1|                   0|         9|
| 26|        1|Travel_Frequently|      426|Human Resources|              17|        4|   Life Sciences|            1|           608|                      2|Female|        58|             3|       1|Human Resources|              3|     Divorced|         2741|      22808|                 0|     Y|     Yes|               11|                3|                       2|           80|               1|                8|                    2|              2|             7|                 7|                      1|                   0|        10|
| 34|        1|    Travel_Rarely|     1107|Human Resources|               9|        4|Technical Degree|            1|          1467|                      1|Female|        52|             3|       1|Human Resources|              3|      Married|         2742|       3072|                 1|     Y|      No|               15|                3|                       4|           80|               0|                2|                    0|              3|             2|                 2|                      2|                   2|        11|
| 38|        0|    Travel_Rarely|      433|Human Resources|               1|        3| Human Resources|            1|          1152|                      3|  Male|        37|             4|       1|Human Resources|              3|      Married|         2844|       6004|                 1|     Y|      No|               13|                3|                       4|           80|               1|                7|                    2|              4|             7|                 6|                      5|                   0|        12|
| 26|        0|    Travel_Rarely|     1355|Human Resources|              25|        1|   Life Sciences|            1|           177|                      3|Female|        61|             3|       1|Human Resources|              3|      Married|         2942|       8916|                 1|     Y|      No|               23|                4|                       4|           80|               1|                8|                    3|              3|             8|                 7|                      5|                   7|        13|
| 46|        0|    Travel_Rarely|      991|Human Resources|               1|        2|   Life Sciences|            1|          1314|                      4|Female|        44|             3|       1|Human Resources|              1|       Single|         3423|      22957|                 6|     Y|      No|               12|                3|                       3|           80|               0|               10|                    3|              4|             7|                 6|                      5|                   7|        14|
| 33|        0|    Travel_Rarely|      147|Human Resources|               2|        3| Human Resources|            1|          1207|                      2|  Male|        99|             3|       1|Human Resources|              3|      Married|         3600|       8429|                 1|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              3|             5|                 4|                      1|                   4|        15|
| 34|        0|    Travel_Rarely|      829|Human Resources|               3|        2| Human Resources|            1|           847|                      3|  Male|        88|             3|       1|Human Resources|              4|      Married|         3737|       2243|                 0|     Y|      No|               19|                3|                       3|           80|               1|                4|                    1|              1|             3|                 2|                      0|                   2|        16|
| 35|        0|    Travel_Rarely|      528|Human Resources|               8|        4|Technical Degree|            1|          1164|                      3|  Male|       100|             3|       1|Human Resources|              3|       Single|         4323|       7108|                 1|     Y|      No|               17|                3|                       2|           80|               0|                6|                    2|              1|             5|                 4|                      1|                   4|        17|
| 34|        0|Travel_Frequently|      648|Human Resources|              11|        3|   Life Sciences|            1|          1289|                      3|  Male|        56|             2|       2|Human Resources|              2|      Married|         4490|      21833|                 4|     Y|      No|               11|                3|                       4|           80|               2|               14|                    5|              4|            10|                 9|                      1|                   8|        18|
| 28|        0|    Travel_Rarely|     1169|Human Resources|               8|        2|         Medical|            1|           869|                      2|  Male|        63|             2|       1|Human Resources|              4|     Divorced|         4936|      23965|                 1|     Y|      No|               13|                3|                       4|           80|               1|                6|                    6|              3|             5|                 1|                      0|                   4|        19|
| 46|        0|    Travel_Rarely|      945|Human Resources|               5|        2|         Medical|            1|           103|                      2|  Male|        80|             3|       2|Human Resources|              2|     Divorced|         5021|      10425|                 8|     Y|     Yes|               22|                4|                       4|           80|               1|               16|                    2|              3|             4|                 2|                      0|                   2|        20|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+----------+
only showing top 20 rows

**percent_rank(): **This function assigns a percentile rank to each row within a partition based on the ordering specified in the window, where the rank is calculated as (rank - 1) / (total rows - 1).

In [17]:

persent_rank_df = df2.withColumn("Dense_Rank" , F.persent_rank().over(windowsSpec))

AttributeError: ignored



**ntile()**: This function assigns a group number to each row within a partition based on the ordering specified in the window, where the number of groups is specified by the user.

In [18]:
ntile_df = df2.withColumn("ntile_df" , F.ntile(4).over(windowsSpec))
ntile_df.show()

+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------+
|Age|Attrition|   BusinessTravel|DailyRate|     Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|        JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|ntile_df|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------+
| 37|        1|    Travel_Rarely|      807|Human Resources|               6|        4| Human Resources|            1|           133|                      3|  Male|        63|             3|       1|Human Resources|              1|     Divorced|         2073|      23648|                 4|     Y|     Yes|               22|                4|                       4|           80|               0|                7|                    3|              3|             3|                 2|                      0|                   2|       1|
| 31|        0|    Travel_Rarely|     1398|Human Resources|               8|        2|         Medical|            1|          1461|                      4|Female|        96|             4|       1|Human Resources|              2|       Single|         2109|      24609|                 9|     Y|      No|               18|                3|                       4|           80|               0|                8|                    3|              3|             3|                 2|                      0|                   2|       1|
| 36|        0|    Travel_Rarely|     1041|Human Resources|              13|        3| Human Resources|            1|           829|                      3|  Male|        36|             3|       1|Human Resources|              2|      Married|         2143|      25527|                 4|     Y|      No|               13|                3|                       2|           80|               1|                8|                    2|              3|             5|                 2|                      0|                   4|       1|
| 45|        0|    Travel_Rarely|      788|Human Resources|              24|        4|         Medical|            1|          1049|                      2|  Male|        36|             3|       1|Human Resources|              2|       Single|         2177|       8318|                 1|     Y|      No|               16|                3|                       1|           80|               0|                6|                    3|              3|             6|                 3|                      0|                   4|       1|
| 59|        0|    Travel_Rarely|      818|Human Resources|               6|        2|         Medical|            1|           321|                      2|  Male|        52|             3|       1|Human Resources|              3|      Married|         2267|      25657|                 8|     Y|      No|               17|                3|                       4|           80|               0|                7|                    2|              2|             2|                 2|                      2|                   2|       1|
| 33|        0|    Travel_Rarely|     1075|Human Resources|               3|        2| Human Resources|            1|           910|                      4|  Male|        57|             3|       1|Human Resources|              2|     Divorced|         2277|      22650|                 3|     Y|     Yes|               11|                3|                       3|           80|               1|                7|                    4|              4|             4|                 3|                      0|                   3|       1|
| 36|        0|    Travel_Rarely|     1278|Human Resources|               8|        3|   Life Sciences|            1|           878|                      1|  Male|        77|             2|       1|Human Resources|              1|      Married|         2342|       8635|                 0|     Y|      No|               21|                4|                       3|           80|               0|                6|                    3|              3|             5|                 4|                      0|                   3|       1|
| 19|        1|    Travel_Rarely|      489|Human Resources|               2|        2|Technical Degree|            1|           566|                      1|  Male|        52|             2|       1|Human Resources|              4|       Single|         2564|      18437|                 1|     Y|      No|               12|                3|                       3|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|       1|
| 42|        0|    Travel_Rarely|      544|Human Resources|               2|        1|Technical Degree|            1|           470|                      3|  Male|        52|             3|       1|Human Resources|              3|     Divorced|         2696|      24017|                 0|     Y|     Yes|               11|                3|                       3|           80|               1|                4|                    5|              3|             3|                 2|                      1|                   0|       1|
| 26|        1|Travel_Frequently|      426|Human Resources|              17|        4|   Life Sciences|            1|           608|                      2|Female|        58|             3|       1|Human Resources|              3|     Divorced|         2741|      22808|                 0|     Y|     Yes|               11|                3|                       2|           80|               1|                8|                    2|              2|             7|                 7|                      1|                   0|       1|
| 34|        1|    Travel_Rarely|     1107|Human Resources|               9|        4|Technical Degree|            1|          1467|                      1|Female|        52|             3|       1|Human Resources|              3|      Married|         2742|       3072|                 1|     Y|      No|               15|                3|                       4|           80|               0|                2|                    0|              3|             2|                 2|                      2|                   2|       2|
| 38|        0|    Travel_Rarely|      433|Human Resources|               1|        3| Human Resources|            1|          1152|                      3|  Male|        37|             4|       1|Human Resources|              3|      Married|         2844|       6004|                 1|     Y|      No|               13|                3|                       4|           80|               1|                7|                    2|              4|             7|                 6|                      5|                   0|       2|
| 26|        0|    Travel_Rarely|     1355|Human Resources|              25|        1|   Life Sciences|            1|           177|                      3|Female|        61|             3|       1|Human Resources|              3|      Married|         2942|       8916|                 1|     Y|      No|               23|                4|                       4|           80|               1|                8|                    3|              3|             8|                 7|                      5|                   7|       2|
| 46|        0|    Travel_Rarely|      991|Human Resources|               1|        2|   Life Sciences|            1|          1314|                      4|Female|        44|             3|       1|Human Resources|              1|       Single|         3423|      22957|                 6|     Y|      No|               12|                3|                       3|           80|               0|               10|                    3|              4|             7|                 6|                      5|                   7|       2|
| 33|        0|    Travel_Rarely|      147|Human Resources|               2|        3| Human Resources|            1|          1207|                      2|  Male|        99|             3|       1|Human Resources|              3|      Married|         3600|       8429|                 1|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              3|             5|                 4|                      1|                   4|       2|
| 34|        0|    Travel_Rarely|      829|Human Resources|               3|        2| Human Resources|            1|           847|                      3|  Male|        88|             3|       1|Human Resources|              4|      Married|         3737|       2243|                 0|     Y|      No|               19|                3|                       3|           80|               1|                4|                    1|              1|             3|                 2|                      0|                   2|       2|
| 35|        0|    Travel_Rarely|      528|Human Resources|               8|        4|Technical Degree|            1|          1164|                      3|  Male|       100|             3|       1|Human Resources|              3|       Single|         4323|       7108|                 1|     Y|      No|               17|                3|                       2|           80|               0|                6|                    2|              1|             5|                 4|                      1|                   4|       2|
| 34|        0|Travel_Frequently|      648|Human Resources|              11|        3|   Life Sciences|            1|          1289|                      3|  Male|        56|             2|       2|Human Resources|              2|      Married|         4490|      21833|                 4|     Y|      No|               11|                3|                       4|           80|               2|               14|                    5|              4|            10|                 9|                      1|                   8|       2|
| 28|        0|    Travel_Rarely|     1169|Human Resources|               8|        2|         Medical|            1|           869|                      2|  Male|        63|             2|       1|Human Resources|              4|     Divorced|         4936|      23965|                 1|     Y|      No|               13|                3|                       4|           80|               1|                6|                    6|              3|             5|                 1|                      0|                   4|       2|
| 46|        0|    Travel_Rarely|      945|Human Resources|               5|        2|         Medical|            1|           103|                      2|  Male|        80|             3|       2|Human Resources|              2|     Divorced|         5021|      10425|                 8|     Y|     Yes|               22|                4|                       4|           80|               1|               16|                    2|              3|             4|                 2|                      0|                   2|       2|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------+
only showing top 20 rows

**cume_dist()** window function is used to get the cumulative distribution of values within a window partition.This is the same as the DENSE_RANK function in SQL

In [19]:
cume_dist_df = df2.withColumn("Analytics_CD" , F.cume_dist().over(windowsSpec))
cume_dist_df.show()

+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------------------+
|Age|Attrition|   BusinessTravel|DailyRate|     Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|        JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|       Analytics_CD|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------------------+
| 37|        1|    Travel_Rarely|      807|Human Resources|               6|        4| Human Resources|            1|           133|                      3|  Male|        63|             3|       1|Human Resources|              1|     Divorced|         2073|      23648|                 4|     Y|     Yes|               22|                4|                       4|           80|               0|                7|                    3|              3|             3|                 2|                      0|                   2|0.02631578947368421|
| 31|        0|    Travel_Rarely|     1398|Human Resources|               8|        2|         Medical|            1|          1461|                      4|Female|        96|             4|       1|Human Resources|              2|       Single|         2109|      24609|                 9|     Y|      No|               18|                3|                       4|           80|               0|                8|                    3|              3|             3|                 2|                      0|                   2|0.05263157894736842|
| 36|        0|    Travel_Rarely|     1041|Human Resources|              13|        3| Human Resources|            1|           829|                      3|  Male|        36|             3|       1|Human Resources|              2|      Married|         2143|      25527|                 4|     Y|      No|               13|                3|                       2|           80|               1|                8|                    2|              3|             5|                 2|                      0|                   4|0.07894736842105263|
| 45|        0|    Travel_Rarely|      788|Human Resources|              24|        4|         Medical|            1|          1049|                      2|  Male|        36|             3|       1|Human Resources|              2|       Single|         2177|       8318|                 1|     Y|      No|               16|                3|                       1|           80|               0|                6|                    3|              3|             6|                 3|                      0|                   4|0.10526315789473684|
| 59|        0|    Travel_Rarely|      818|Human Resources|               6|        2|         Medical|            1|           321|                      2|  Male|        52|             3|       1|Human Resources|              3|      Married|         2267|      25657|                 8|     Y|      No|               17|                3|                       4|           80|               0|                7|                    2|              2|             2|                 2|                      2|                   2|0.13157894736842105|
| 33|        0|    Travel_Rarely|     1075|Human Resources|               3|        2| Human Resources|            1|           910|                      4|  Male|        57|             3|       1|Human Resources|              2|     Divorced|         2277|      22650|                 3|     Y|     Yes|               11|                3|                       3|           80|               1|                7|                    4|              4|             4|                 3|                      0|                   3|0.15789473684210525|
| 36|        0|    Travel_Rarely|     1278|Human Resources|               8|        3|   Life Sciences|            1|           878|                      1|  Male|        77|             2|       1|Human Resources|              1|      Married|         2342|       8635|                 0|     Y|      No|               21|                4|                       3|           80|               0|                6|                    3|              3|             5|                 4|                      0|                   3|0.18421052631578946|
| 19|        1|    Travel_Rarely|      489|Human Resources|               2|        2|Technical Degree|            1|           566|                      1|  Male|        52|             2|       1|Human Resources|              4|       Single|         2564|      18437|                 1|     Y|      No|               12|                3|                       3|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|0.21052631578947367|
| 42|        0|    Travel_Rarely|      544|Human Resources|               2|        1|Technical Degree|            1|           470|                      3|  Male|        52|             3|       1|Human Resources|              3|     Divorced|         2696|      24017|                 0|     Y|     Yes|               11|                3|                       3|           80|               1|                4|                    5|              3|             3|                 2|                      1|                   0|0.23684210526315788|
| 26|        1|Travel_Frequently|      426|Human Resources|              17|        4|   Life Sciences|            1|           608|                      2|Female|        58|             3|       1|Human Resources|              3|     Divorced|         2741|      22808|                 0|     Y|     Yes|               11|                3|                       2|           80|               1|                8|                    2|              2|             7|                 7|                      1|                   0| 0.2631578947368421|
| 34|        1|    Travel_Rarely|     1107|Human Resources|               9|        4|Technical Degree|            1|          1467|                      1|Female|        52|             3|       1|Human Resources|              3|      Married|         2742|       3072|                 1|     Y|      No|               15|                3|                       4|           80|               0|                2|                    0|              3|             2|                 2|                      2|                   2| 0.2894736842105263|
| 38|        0|    Travel_Rarely|      433|Human Resources|               1|        3| Human Resources|            1|          1152|                      3|  Male|        37|             4|       1|Human Resources|              3|      Married|         2844|       6004|                 1|     Y|      No|               13|                3|                       4|           80|               1|                7|                    2|              4|             7|                 6|                      5|                   0| 0.3157894736842105|
| 26|        0|    Travel_Rarely|     1355|Human Resources|              25|        1|   Life Sciences|            1|           177|                      3|Female|        61|             3|       1|Human Resources|              3|      Married|         2942|       8916|                 1|     Y|      No|               23|                4|                       4|           80|               1|                8|                    3|              3|             8|                 7|                      5|                   7|0.34210526315789475|
| 46|        0|    Travel_Rarely|      991|Human Resources|               1|        2|   Life Sciences|            1|          1314|                      4|Female|        44|             3|       1|Human Resources|              1|       Single|         3423|      22957|                 6|     Y|      No|               12|                3|                       3|           80|               0|               10|                    3|              4|             7|                 6|                      5|                   7| 0.3684210526315789|
| 33|        0|    Travel_Rarely|      147|Human Resources|               2|        3| Human Resources|            1|          1207|                      2|  Male|        99|             3|       1|Human Resources|              3|      Married|         3600|       8429|                 1|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              3|             5|                 4|                      1|                   4|0.39473684210526316|
| 34|        0|    Travel_Rarely|      829|Human Resources|               3|        2| Human Resources|            1|           847|                      3|  Male|        88|             3|       1|Human Resources|              4|      Married|         3737|       2243|                 0|     Y|      No|               19|                3|                       3|           80|               1|                4|                    1|              1|             3|                 2|                      0|                   2|0.42105263157894735|
| 35|        0|    Travel_Rarely|      528|Human Resources|               8|        4|Technical Degree|            1|          1164|                      3|  Male|       100|             3|       1|Human Resources|              3|       Single|         4323|       7108|                 1|     Y|      No|               17|                3|                       2|           80|               0|                6|                    2|              1|             5|                 4|                      1|                   4| 0.4473684210526316|
| 34|        0|Travel_Frequently|      648|Human Resources|              11|        3|   Life Sciences|            1|          1289|                      3|  Male|        56|             2|       2|Human Resources|              2|      Married|         4490|      21833|                 4|     Y|      No|               11|                3|                       4|           80|               2|               14|                    5|              4|            10|                 9|                      1|                   8|0.47368421052631576|
| 28|        0|    Travel_Rarely|     1169|Human Resources|               8|        2|         Medical|            1|           869|                      2|  Male|        63|             2|       1|Human Resources|              4|     Divorced|         4936|      23965|                 1|     Y|      No|               13|                3|                       4|           80|               1|                6|                    6|              3|             5|                 1|                      0|                   4|                0.5|
| 46|        0|    Travel_Rarely|      945|Human Resources|               5|        2|         Medical|            1|           103|                      2|  Male|        80|             3|       2|Human Resources|              2|     Divorced|         5021|      10425|                 8|     Y|     Yes|               22|                4|                       4|           80|               1|               16|                    2|              3|             4|                 2|                      0|                   2| 0.5263157894736842|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------------------+
only showing top 20 rows

**lag():** This function returns the value of a column from a previous row within a window partition, based on a specified offset. If the offset is greater than the number of rows preceding the current row, the function returns a null value.This is the same as the LAG function in SQL.

In [20]:
lag_df = df2.withColumn("lag_ex",F.lag(col("Department"), 1).over(windowsSpec))
lag_df.show()

+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+---------------+
|Age|Attrition|   BusinessTravel|DailyRate|     Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|        JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|         lag_ex|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+---------------+
| 37|        1|    Travel_Rarely|      807|Human Resources|               6|        4| Human Resources|            1|           133|                      3|  Male|        63|             3|       1|Human Resources|              1|     Divorced|         2073|      23648|                 4|     Y|     Yes|               22|                4|                       4|           80|               0|                7|                    3|              3|             3|                 2|                      0|                   2|           null|
| 31|        0|    Travel_Rarely|     1398|Human Resources|               8|        2|         Medical|            1|          1461|                      4|Female|        96|             4|       1|Human Resources|              2|       Single|         2109|      24609|                 9|     Y|      No|               18|                3|                       4|           80|               0|                8|                    3|              3|             3|                 2|                      0|                   2|Human Resources|
| 36|        0|    Travel_Rarely|     1041|Human Resources|              13|        3| Human Resources|            1|           829|                      3|  Male|        36|             3|       1|Human Resources|              2|      Married|         2143|      25527|                 4|     Y|      No|               13|                3|                       2|           80|               1|                8|                    2|              3|             5|                 2|                      0|                   4|Human Resources|
| 45|        0|    Travel_Rarely|      788|Human Resources|              24|        4|         Medical|            1|          1049|                      2|  Male|        36|             3|       1|Human Resources|              2|       Single|         2177|       8318|                 1|     Y|      No|               16|                3|                       1|           80|               0|                6|                    3|              3|             6|                 3|                      0|                   4|Human Resources|
| 59|        0|    Travel_Rarely|      818|Human Resources|               6|        2|         Medical|            1|           321|                      2|  Male|        52|             3|       1|Human Resources|              3|      Married|         2267|      25657|                 8|     Y|      No|               17|                3|                       4|           80|               0|                7|                    2|              2|             2|                 2|                      2|                   2|Human Resources|
| 33|        0|    Travel_Rarely|     1075|Human Resources|               3|        2| Human Resources|            1|           910|                      4|  Male|        57|             3|       1|Human Resources|              2|     Divorced|         2277|      22650|                 3|     Y|     Yes|               11|                3|                       3|           80|               1|                7|                    4|              4|             4|                 3|                      0|                   3|Human Resources|
| 36|        0|    Travel_Rarely|     1278|Human Resources|               8|        3|   Life Sciences|            1|           878|                      1|  Male|        77|             2|       1|Human Resources|              1|      Married|         2342|       8635|                 0|     Y|      No|               21|                4|                       3|           80|               0|                6|                    3|              3|             5|                 4|                      0|                   3|Human Resources|
| 19|        1|    Travel_Rarely|      489|Human Resources|               2|        2|Technical Degree|            1|           566|                      1|  Male|        52|             2|       1|Human Resources|              4|       Single|         2564|      18437|                 1|     Y|      No|               12|                3|                       3|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|Human Resources|
| 42|        0|    Travel_Rarely|      544|Human Resources|               2|        1|Technical Degree|            1|           470|                      3|  Male|        52|             3|       1|Human Resources|              3|     Divorced|         2696|      24017|                 0|     Y|     Yes|               11|                3|                       3|           80|               1|                4|                    5|              3|             3|                 2|                      1|                   0|Human Resources|
| 26|        1|Travel_Frequently|      426|Human Resources|              17|        4|   Life Sciences|            1|           608|                      2|Female|        58|             3|       1|Human Resources|              3|     Divorced|         2741|      22808|                 0|     Y|     Yes|               11|                3|                       2|           80|               1|                8|                    2|              2|             7|                 7|                      1|                   0|Human Resources|
| 34|        1|    Travel_Rarely|     1107|Human Resources|               9|        4|Technical Degree|            1|          1467|                      1|Female|        52|             3|       1|Human Resources|              3|      Married|         2742|       3072|                 1|     Y|      No|               15|                3|                       4|           80|               0|                2|                    0|              3|             2|                 2|                      2|                   2|Human Resources|
| 38|        0|    Travel_Rarely|      433|Human Resources|               1|        3| Human Resources|            1|          1152|                      3|  Male|        37|             4|       1|Human Resources|              3|      Married|         2844|       6004|                 1|     Y|      No|               13|                3|                       4|           80|               1|                7|                    2|              4|             7|                 6|                      5|                   0|Human Resources|
| 26|        0|    Travel_Rarely|     1355|Human Resources|              25|        1|   Life Sciences|            1|           177|                      3|Female|        61|             3|       1|Human Resources|              3|      Married|         2942|       8916|                 1|     Y|      No|               23|                4|                       4|           80|               1|                8|                    3|              3|             8|                 7|                      5|                   7|Human Resources|
| 46|        0|    Travel_Rarely|      991|Human Resources|               1|        2|   Life Sciences|            1|          1314|                      4|Female|        44|             3|       1|Human Resources|              1|       Single|         3423|      22957|                 6|     Y|      No|               12|                3|                       3|           80|               0|               10|                    3|              4|             7|                 6|                      5|                   7|Human Resources|
| 33|        0|    Travel_Rarely|      147|Human Resources|               2|        3| Human Resources|            1|          1207|                      2|  Male|        99|             3|       1|Human Resources|              3|      Married|         3600|       8429|                 1|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              3|             5|                 4|                      1|                   4|Human Resources|
| 34|        0|    Travel_Rarely|      829|Human Resources|               3|        2| Human Resources|            1|           847|                      3|  Male|        88|             3|       1|Human Resources|              4|      Married|         3737|       2243|                 0|     Y|      No|               19|                3|                       3|           80|               1|                4|                    1|              1|             3|                 2|                      0|                   2|Human Resources|
| 35|        0|    Travel_Rarely|      528|Human Resources|               8|        4|Technical Degree|            1|          1164|                      3|  Male|       100|             3|       1|Human Resources|              3|       Single|         4323|       7108|                 1|     Y|      No|               17|                3|                       2|           80|               0|                6|                    2|              1|             5|                 4|                      1|                   4|Human Resources|
| 34|        0|Travel_Frequently|      648|Human Resources|              11|        3|   Life Sciences|            1|          1289|                      3|  Male|        56|             2|       2|Human Resources|              2|      Married|         4490|      21833|                 4|     Y|      No|               11|                3|                       4|           80|               2|               14|                    5|              4|            10|                 9|                      1|                   8|Human Resources|
| 28|        0|    Travel_Rarely|     1169|Human Resources|               8|        2|         Medical|            1|           869|                      2|  Male|        63|             2|       1|Human Resources|              4|     Divorced|         4936|      23965|                 1|     Y|      No|               13|                3|                       4|           80|               1|                6|                    6|              3|             5|                 1|                      0|                   4|Human Resources|
| 46|        0|    Travel_Rarely|      945|Human Resources|               5|        2|         Medical|            1|           103|                      2|  Male|        80|             3|       2|Human Resources|              2|     Divorced|         5021|      10425|                 8|     Y|     Yes|               22|                4|                       4|           80|               1|               16|                    2|              3|             4|                 2|                      0|                   2|Human Resources|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+---------------+
only showing top 20 rows

**lead():** This function returns the value of a column from a following row within a window partition, based on a specified offset. If the offset is greater than the number of rows following the current row, the function returns a null value.This is the same as the LEAD function in SQL.

In [21]:
df2.withColumn("lead_ex",F.lead(col("Department"), 1).over(windowsSpec)).show()

+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+---------------+
|Age|Attrition|   BusinessTravel|DailyRate|     Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|        JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|        lead_ex|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+---------------+
| 37|        1|    Travel_Rarely|      807|Human Resources|               6|        4| Human Resources|            1|           133|                      3|  Male|        63|             3|       1|Human Resources|              1|     Divorced|         2073|      23648|                 4|     Y|     Yes|               22|                4|                       4|           80|               0|                7|                    3|              3|             3|                 2|                      0|                   2|Human Resources|
| 31|        0|    Travel_Rarely|     1398|Human Resources|               8|        2|         Medical|            1|          1461|                      4|Female|        96|             4|       1|Human Resources|              2|       Single|         2109|      24609|                 9|     Y|      No|               18|                3|                       4|           80|               0|                8|                    3|              3|             3|                 2|                      0|                   2|Human Resources|
| 36|        0|    Travel_Rarely|     1041|Human Resources|              13|        3| Human Resources|            1|           829|                      3|  Male|        36|             3|       1|Human Resources|              2|      Married|         2143|      25527|                 4|     Y|      No|               13|                3|                       2|           80|               1|                8|                    2|              3|             5|                 2|                      0|                   4|Human Resources|
| 45|        0|    Travel_Rarely|      788|Human Resources|              24|        4|         Medical|            1|          1049|                      2|  Male|        36|             3|       1|Human Resources|              2|       Single|         2177|       8318|                 1|     Y|      No|               16|                3|                       1|           80|               0|                6|                    3|              3|             6|                 3|                      0|                   4|Human Resources|
| 59|        0|    Travel_Rarely|      818|Human Resources|               6|        2|         Medical|            1|           321|                      2|  Male|        52|             3|       1|Human Resources|              3|      Married|         2267|      25657|                 8|     Y|      No|               17|                3|                       4|           80|               0|                7|                    2|              2|             2|                 2|                      2|                   2|Human Resources|
| 33|        0|    Travel_Rarely|     1075|Human Resources|               3|        2| Human Resources|            1|           910|                      4|  Male|        57|             3|       1|Human Resources|              2|     Divorced|         2277|      22650|                 3|     Y|     Yes|               11|                3|                       3|           80|               1|                7|                    4|              4|             4|                 3|                      0|                   3|Human Resources|
| 36|        0|    Travel_Rarely|     1278|Human Resources|               8|        3|   Life Sciences|            1|           878|                      1|  Male|        77|             2|       1|Human Resources|              1|      Married|         2342|       8635|                 0|     Y|      No|               21|                4|                       3|           80|               0|                6|                    3|              3|             5|                 4|                      0|                   3|Human Resources|
| 19|        1|    Travel_Rarely|      489|Human Resources|               2|        2|Technical Degree|            1|           566|                      1|  Male|        52|             2|       1|Human Resources|              4|       Single|         2564|      18437|                 1|     Y|      No|               12|                3|                       3|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|Human Resources|
| 42|        0|    Travel_Rarely|      544|Human Resources|               2|        1|Technical Degree|            1|           470|                      3|  Male|        52|             3|       1|Human Resources|              3|     Divorced|         2696|      24017|                 0|     Y|     Yes|               11|                3|                       3|           80|               1|                4|                    5|              3|             3|                 2|                      1|                   0|Human Resources|
| 26|        1|Travel_Frequently|      426|Human Resources|              17|        4|   Life Sciences|            1|           608|                      2|Female|        58|             3|       1|Human Resources|              3|     Divorced|         2741|      22808|                 0|     Y|     Yes|               11|                3|                       2|           80|               1|                8|                    2|              2|             7|                 7|                      1|                   0|Human Resources|
| 34|        1|    Travel_Rarely|     1107|Human Resources|               9|        4|Technical Degree|            1|          1467|                      1|Female|        52|             3|       1|Human Resources|              3|      Married|         2742|       3072|                 1|     Y|      No|               15|                3|                       4|           80|               0|                2|                    0|              3|             2|                 2|                      2|                   2|Human Resources|
| 38|        0|    Travel_Rarely|      433|Human Resources|               1|        3| Human Resources|            1|          1152|                      3|  Male|        37|             4|       1|Human Resources|              3|      Married|         2844|       6004|                 1|     Y|      No|               13|                3|                       4|           80|               1|                7|                    2|              4|             7|                 6|                      5|                   0|Human Resources|
| 26|        0|    Travel_Rarely|     1355|Human Resources|              25|        1|   Life Sciences|            1|           177|                      3|Female|        61|             3|       1|Human Resources|              3|      Married|         2942|       8916|                 1|     Y|      No|               23|                4|                       4|           80|               1|                8|                    3|              3|             8|                 7|                      5|                   7|Human Resources|
| 46|        0|    Travel_Rarely|      991|Human Resources|               1|        2|   Life Sciences|            1|          1314|                      4|Female|        44|             3|       1|Human Resources|              1|       Single|         3423|      22957|                 6|     Y|      No|               12|                3|                       3|           80|               0|               10|                    3|              4|             7|                 6|                      5|                   7|Human Resources|
| 33|        0|    Travel_Rarely|      147|Human Resources|               2|        3| Human Resources|            1|          1207|                      2|  Male|        99|             3|       1|Human Resources|              3|      Married|         3600|       8429|                 1|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              3|             5|                 4|                      1|                   4|Human Resources|
| 34|        0|    Travel_Rarely|      829|Human Resources|               3|        2| Human Resources|            1|           847|                      3|  Male|        88|             3|       1|Human Resources|              4|      Married|         3737|       2243|                 0|     Y|      No|               19|                3|                       3|           80|               1|                4|                    1|              1|             3|                 2|                      0|                   2|Human Resources|
| 35|        0|    Travel_Rarely|      528|Human Resources|               8|        4|Technical Degree|            1|          1164|                      3|  Male|       100|             3|       1|Human Resources|              3|       Single|         4323|       7108|                 1|     Y|      No|               17|                3|                       2|           80|               0|                6|                    2|              1|             5|                 4|                      1|                   4|Human Resources|
| 34|        0|Travel_Frequently|      648|Human Resources|              11|        3|   Life Sciences|            1|          1289|                      3|  Male|        56|             2|       2|Human Resources|              2|      Married|         4490|      21833|                 4|     Y|      No|               11|                3|                       4|           80|               2|               14|                    5|              4|            10|                 9|                      1|                   8|Human Resources|
| 28|        0|    Travel_Rarely|     1169|Human Resources|               8|        2|         Medical|            1|           869|                      2|  Male|        63|             2|       1|Human Resources|              4|     Divorced|         4936|      23965|                 1|     Y|      No|               13|                3|                       4|           80|               1|                6|                    6|              3|             5|                 1|                      0|                   4|Human Resources|
| 46|        0|    Travel_Rarely|      945|Human Resources|               5|        2|         Medical|            1|           103|                      2|  Male|        80|             3|       2|Human Resources|              2|     Divorced|         5021|      10425|                 8|     Y|     Yes|               22|                4|                       4|           80|               1|               16|                    2|              3|             4|                 2|                      0|                   2|Human Resources|
+---+---------+-----------------+---------+---------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+---------------+
only showing top 20 rows

In [52]:
df2.where("Age > 46 and MonthlyIncome > 6000").show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 53|        0|    Travel_Rarely|     1219|               Sales|               2|        4|   Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 53|        0|    Travel_Rarely|     1282|Research & Develo...|               5|        3|           Other|            1|            32|                      3|Female|        58|             3|       5|             Manager|              3|     Divorced|        19094|      10735|                 4|     Y|      No|               11|                3|                       4|           80|               1|               26|                    3|              2|            14|                13|                      4|                   8|
| 50|        0|    Travel_Rarely|      989|Research & Develo...|               7|        2|         Medical|            1|            80|                      2|Female|        43|             2|       5|   Research Director|              3|     Divorced|        18740|      16701|                 5|     Y|     Yes|               12|                3|                       4|           80|               1|               29|                    2|              2|            27|                 3|                     13|                   8|
| 59|        0|    Travel_Rarely|     1435|               Sales|              25|        3|   Life Sciences|            1|            81|                      1|Female|        99|             3|       3|     Sales Executive|              1|       Single|         7637|       2354|                 7|     Y|      No|               11|                3|                       4|           80|               0|               28|                    3|              2|            21|                16|                      7|                   9|
| 55|        0|    Travel_Rarely|      836|Research & Develo...|               8|        3|         Medical|            1|            84|                      4|Female|        33|             3|       4|             Manager|              3|     Divorced|        14756|      19730|                 2|     Y|     Yes|               14|                3|                       3|           80|               3|               21|                    2|              3|             5|                 0|                      0|                   2|
| 55|        0|    Travel_Rarely|      111|               Sales|               1|        2|   Life Sciences|            1|           106|                      1|  Male|        70|             3|       3|     Sales Executive|              4|      Married|        10239|      18092|                 3|     Y|      No|               14|                3|                       4|           80|               1|               24|                    4|              3|             1|                 0|                      1|                   0|
| 56|        0|    Travel_Rarely|     1400|Research & Develo...|               7|        3|   Life Sciences|            1|           112|                      4|  Male|        49|             1|       3|Manufacturing Dir...|              4|       Single|         7260|      21698|                 4|     Y|      No|               11|                3|                       1|           80|               0|               37|                    3|              2|             6|                 4|                      0|                   2|
| 54|        0|    Travel_Rarely|     1217|Research & Develo...|               2|        4|Technical Degree|            1|           126|                      1|Female|        60|             3|       3|   Research Director|              3|      Married|        13549|      24001|                 9|     Y|      No|               12|                3|                       1|           80|               1|               16|                    5|              1|             4|                 3|                      0|                   3|
| 58|        0|    Travel_Rarely|      682|               Sales|              10|        4|         Medical|            1|           131|                      4|  Male|        37|             3|       4|     Sales Executive|              3|       Single|        13872|      24409|                 0|     Y|      No|               13|                3|                       3|           80|               0|               38|                    1|              2|            37|                10|                      1|                   8|
| 59|        0|       Non-Travel|     1420|     Human Resources|               2|        4| Human Resources|            1|           140|                      3|Female|        32|             2|       5|             Manager|              4|      Married|        18844|      21922|                 9|     Y|      No|               21|                4|                       4|           80|               1|               30|                    3|              3|             3|                 2|                      2|                   2|
| 50|        0|Travel_Frequently|     1115|Research & Develo...|               1|        3|   Life Sciences|            1|           141|                      1|Female|        73|             3|       5|   Research Director|              2|      Married|        18172|       9755|                 3|     Y|     Yes|               19|                3|                       1|           80|               0|               28|                    1|              2|             8|                 3|                      0|                   7|
| 51|        0|Travel_Frequently|     1456|Research & Develo...|               1|        4|         Medical|            1|           145|                      1|Female|        30|             2|       3|Healthcare Repres...|              1|       Single|         7484|      25796|                 3|     Y|      No|               20|                4|                       3|           80|               0|               23|                    1|              2|            13|                12|                     12|                   8|
| 54|        0|       Non-Travel|      142|     Human Resources|              26|        3| Human Resources|            1|           148|                      4|Female|        30|             4|       4|             Manager|              4|       Single|        17328|      13871|                 2|     Y|     Yes|               12|                3|                       3|           80|               0|               23|                    3|              3|             5|                 3|                      4|                   4|
| 51|        0|    Travel_Rarely|      684|Research & Develo...|               6|        3|   Life Sciences|            1|           162|                      1|  Male|        51|             3|       5|   Research Director|              3|       Single|        19537|       6462|                 7|     Y|      No|               13|                3|                       3|           80|               0|               23|                    5|              3|            20|                18|                     15|                  15|
| 58|        1|    Travel_Rarely|      147|Research & Develo...|              23|        4|         Medical|            1|           165|                      4|Female|        94|             3|       3|Healthcare Repres...|              4|      Married|        10312|       3465|                 1|     Y|      No|               12|                3|                       4|           80|               1|               40|                    3|              2|            40|                10|                     15|                   6|
| 49|        0|    Travel_Rarely|      470|Research & Develo...|              20|        4|         Medical|            1|           170|                      3|Female|        96|             3|       2|Manufacturing Dir...|              1|      Married|         6567|       5549|                 1|     Y|      No|               14|                3|                       3|           80|               0|               16|                    2|              2|            15|                11|                      5|                  11|
| 50|        0|Travel_Frequently|      809|               Sales|              12|        3|       Marketing|            1|           174|                      3|Female|        77|             3|       3|     Sales Executive|              4|       Single|         9208|       6645|                 4|     Y|      No|               11|                3|                       4|           80|               0|               16|                    3|              3|             2|                 2|                      2|                   1|
| 51|        1|Travel_Frequently|     1150|Research & Develo...|               8|        4|   Life Sciences|            1|           179|                      1|  Male|        53|             1|       3|Manufacturing Dir...|              4|       Single|        10650|      25150|                 2|     Y|      No|               15|                3|                       4|           80|               0|               18|                    2|              3|             4|                 2|                      0|                   3|
| 51|        0|    Travel_Rarely|     1169|Research & Develo...|               7|        4|         Medical|            1|           211|                      2|  Male|        34|             2|       2|Manufacturing Dir...|              3|      Married|         6132|      13983|                 2|     Y|      No|               17|                3|                       3|           80|               0|               10|                    2|              3|             1|                 0|                      0|                   0|
| 57|        0|    Travel_Rarely|      334|Research & Develo...|              24|        2|   Life Sciences|            1|           223|                      3|  Male|        83|             4|       3|Healthcare Repres...|              4|     Divorced|         9439|      23402|                 3|     Y|     Yes|               16|                3|                       2|           80|               1|               12|                    2|              1|             5|                 3|                      1|                   4|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [63]:
df2.where((col("Age") > "46") & (col("MonthlyIncome") > "5000")).show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 49|        0|Travel_Frequently|      279|Research & Develo...|               8|        1|   Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 53|        0|    Travel_Rarely|     1219|               Sales|               2|        4|   Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 53|        0|    Travel_Rarely|     1282|Research & Develo...|               5|        3|           Other|            1|            32|                      3|Female|        58|             3|       5|             Manager|              3|     Divorced|        19094|      10735|                 4|     Y|      No|               11|                3|                       4|           80|               1|               26|                    3|              2|            14|                13|                      4|                   8|
| 48|        1|    Travel_Rarely|      626|Research & Develo...|               1|        2|   Life Sciences|            1|            64|                      1|  Male|        98|             2|       3|Laboratory Techni...|              3|       Single|         5381|      19294|                 9|     Y|     Yes|               13|                3|                       4|           80|               0|               23|                    2|              3|             1|                 0|                      0|                   0|
| 50|        0|    Travel_Rarely|      989|Research & Develo...|               7|        2|         Medical|            1|            80|                      2|Female|        43|             2|       5|   Research Director|              3|     Divorced|        18740|      16701|                 5|     Y|     Yes|               12|                3|                       4|           80|               1|               29|                    2|              2|            27|                 3|                     13|                   8|
| 59|        0|    Travel_Rarely|     1435|               Sales|              25|        3|   Life Sciences|            1|            81|                      1|Female|        99|             3|       3|     Sales Executive|              1|       Single|         7637|       2354|                 7|     Y|      No|               11|                3|                       4|           80|               0|               28|                    3|              2|            21|                16|                      7|                   9|
| 55|        0|    Travel_Rarely|      836|Research & Develo...|               8|        3|         Medical|            1|            84|                      4|Female|        33|             3|       4|             Manager|              3|     Divorced|        14756|      19730|                 2|     Y|     Yes|               14|                3|                       3|           80|               3|               21|                    2|              3|             5|                 0|                      0|                   2|
| 59|        0|Travel_Frequently|     1225|               Sales|               1|        1|   Life Sciences|            1|            91|                      1|Female|        57|             2|       2|     Sales Executive|              3|       Single|         5473|      24668|                 7|     Y|      No|               11|                3|                       4|           80|               0|               20|                    2|              2|             4|                 3|                      1|                   3|
| 55|        0|    Travel_Rarely|      111|               Sales|               1|        2|   Life Sciences|            1|           106|                      1|  Male|        70|             3|       3|     Sales Executive|              4|      Married|        10239|      18092|                 3|     Y|      No|               14|                3|                       4|           80|               1|               24|                    4|              3|             1|                 0|                      1|                   0|
| 56|        0|    Travel_Rarely|     1400|Research & Develo...|               7|        3|   Life Sciences|            1|           112|                      4|  Male|        49|             1|       3|Manufacturing Dir...|              4|       Single|         7260|      21698|                 4|     Y|      No|               11|                3|                       1|           80|               0|               37|                    3|              2|             6|                 4|                      0|                   2|
| 51|        0|    Travel_Rarely|      632|               Sales|              21|        4|       Marketing|            1|           120|                      3|  Male|        71|             3|       2|     Sales Executive|              4|       Single|         5441|       8423|                 0|     Y|     Yes|               22|                4|                       4|           80|               0|               11|                    2|              1|            10|                 7|                      1|                   0|
| 54|        0|    Travel_Rarely|     1217|Research & Develo...|               2|        4|Technical Degree|            1|           126|                      1|Female|        60|             3|       3|   Research Director|              3|      Married|        13549|      24001|                 9|     Y|      No|               12|                3|                       1|           80|               1|               16|                    5|              1|             4|                 3|                      0|                   3|
| 58|        0|    Travel_Rarely|      682|               Sales|              10|        4|         Medical|            1|           131|                      4|  Male|        37|             3|       4|     Sales Executive|              3|       Single|        13872|      24409|                 0|     Y|      No|               13|                3|                       3|           80|               0|               38|                    1|              2|            37|                10|                      1|                   8|
| 59|        0|       Non-Travel|     1420|     Human Resources|               2|        4| Human Resources|            1|           140|                      3|Female|        32|             2|       5|             Manager|              4|      Married|        18844|      21922|                 9|     Y|      No|               21|                4|                       4|           80|               1|               30|                    3|              3|             3|                 2|                      2|                   2|
| 50|        0|Travel_Frequently|     1115|Research & Develo...|               1|        3|   Life Sciences|            1|           141|                      1|Female|        73|             3|       5|   Research Director|              2|      Married|        18172|       9755|                 3|     Y|     Yes|               19|                3|                       1|           80|               0|               28|                    1|              2|             8|                 3|                      0|                   7|
| 51|        0|Travel_Frequently|     1456|Research & Develo...|               1|        4|         Medical|            1|           145|                      1|Female|        30|             2|       3|Healthcare Repres...|              1|       Single|         7484|      25796|                 3|     Y|      No|               20|                4|                       3|           80|               0|               23|                    1|              2|            13|                12|                     12|                   8|
| 54|        0|       Non-Travel|      142|     Human Resources|              26|        3| Human Resources|            1|           148|                      4|Female|        30|             4|       4|             Manager|              4|       Single|        17328|      13871|                 2|     Y|     Yes|               12|                3|                       3|           80|               0|               23|                    3|              3|             5|                 3|                      4|                   4|
| 51|        0|    Travel_Rarely|      684|Research & Develo...|               6|        3|   Life Sciences|            1|           162|                      1|  Male|        51|             3|       5|   Research Director|              3|       Single|        19537|       6462|                 7|     Y|      No|               13|                3|                       3|           80|               0|               23|                    5|              3|            20|                18|                     15|                  15|
| 58|        1|    Travel_Rarely|      147|Research & Develo...|              23|        4|         Medical|            1|           165|                      4|Female|        94|             3|       3|Healthcare Repres...|              4|      Married|        10312|       3465|                 1|     Y|      No|               12|                3|                       4|           80|               1|               40|                    3|              2|            40|                10|                     15|                   6|
| 49|        0|    Travel_Rarely|      470|Research & Develo...|              20|        4|         Medical|            1|           170|                      3|Female|        96|             3|       2|Manufacturing Dir...|              1|      Married|         6567|       5549|                 1|     Y|      No|               14|                3|                       3|           80|               0|               16|                    2|              2|            15|                11|                      5|                  11|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

**regexp_replace() vs regexp_extract**

In [22]:
from pyspark.sql.functions import regexp_extract
df = spark.createDataFrame([('100-200',)], ['str'])
df.select(regexp_extract('str', r'(\d+)-(\d+)',1).alias('d')).collect()

[Row(d='100')]

In [23]:
df = spark.createDataFrame([('foo',)], ['str'])
df.select(regexp_extract('str', r'(\d+)', 1).alias('d')).collect()

[Row(d='')]

In [24]:
df = spark.createDataFrame([('aaaac',)], ['str'])
df.select(regexp_extract('str', '(a+)(b)?(c)', 2).alias('d')).collect()

[Row(d='')]

In [25]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('RegexExtractExample').getOrCreate()

data = [("1", "Hello, my email address is john@example.com"), ("2", "Please send me an email at alice@example.com")]

df = spark.createDataFrame(data, ["id", "text"])
df.show(truncate=False)

+---+--------------------------------------------+
|id |text                                        |
+---+--------------------------------------------+
|1  |Hello, my email address is john@example.com |
|2  |Please send me an email at alice@example.com|
+---+--------------------------------------------+

In [26]:
from pyspark.sql.functions import regexp_extract

email_pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'

df = df.withColumn("email", regexp_extract("text", email_pattern, 0))
df.show(truncate=False)

+---+--------------------------------------------+-----------------+
|id |text                                        |email            |
+---+--------------------------------------------+-----------------+
|1  |Hello, my email address is john@example.com |john@example.com |
|2  |Please send me an email at alice@example.com|alice@example.com|
+---+--------------------------------------------+-----------------+

# foreach() vs foreachpartition()

In [35]:
sc = spark.sparkContext

**foreach():** This method applies a function to each element of a RDD.

**foreachPartition():** This method applies a function to each partition of a RDD. This can be useful for performing some initialization or cleanup operations on a per-partition basis.

In [44]:

# Example for foreach()
rdd = sc.parallelize([1, 2, 3, 4, 5])
def print_element(elem):
    print(elem)

rdd.foreach(print_element)  # This will print each element of the RDD to the console

# Example for foreachPartition()
rdd = sc.parallelize([1, 2, 3, 4, 5], 2)
def process_partition(partition):
    for elem in partition:
        print(elem)

rdd.foreachPartition(process_partition)

# map(): This method applies a function to each element of a RDD and returns a new RDD with the transformed values.



# mapPartitions(): is a PySpark RDD transformation operation that applies a given function to each partition of an RDD

In [46]:
rdd = sc.parallelize([1,2,3,4,5,6,7,8,9])
def square(sq):
  return sq**2

pp = rdd.map(square)
pp.collect()

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
rdd = sc.parallelize([1,2,3,4,5,6,7,8,9],2)
def square(sq):
  return [sqr**2 for sqr in sq]

pp = rdd.mapPartitions(square)
pp.collect()

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# functions like fill.na drop.na drop fill practice

# Read Articles about SparkUI and garbage collector and DAGs